* {
  padding: 0;
  margin: 5px;
}

form {
  margin: 30px auto;
  width: 500px;
  padding: 30px 60px;
  border: 1px solid #CCC;
  background: rgb(219, 199, 238);
}

.header {
  font-size: 30px;
  font-weight: bold;
}

.chosen {
  font-size: 25px;
}

#genre, #movies {
  height: 40px;
  width: 200px;
  background: white;
  color: blueviolet;
  font-size: 18px;
  text-align-last: center;
}
