<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Fake Reddit</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
</head>

<body>
  <header>
    <img src="/static/imgs/header.jpg" alt="Space background" id="headerBg">
    <img src="https://upload.wikimedia.org/wikipedia/en/5/58/Reddit_logo_new.svg" alt="reddit logo" id="redditLogo">
  </header>
  <main>
    <div class="container">
      <div class="postList"></div>
      <div class="logPost">
        <div class="loggedIn" hidden>
          <a href="views/createPost.html">
            <button id="createPostButton">Create new post</button>
          </a>
          <button class="userlogout">Log out</button>
        </div>
        <div class="userloginForm">
          <input type="text" class="user">
          <button class="userlogin">Log in</button>
        </div>
      </div>
    </div>

  </main>
  <script src="/static/js/index.js"></script>
</body>

</html>