<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Manage questions</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
  <main>
    <div class="manageQue">
      <h1>Manage Questions</h1>
    </div>
    <div class="createNew">
      <h1>Create a new question</h1>
      <form>
        <div>
          <input type="text" class="giveQuestion" placeholder="Type your question here">
        </div>
        <h2>Answers</h2>
        <div class="newAnswer">
          <label>
            <span>#1</span>
            <input type="text" class="giveAnswer" placeholder="Type your answer here">
          </label>
          <input type="radio" name="is_correct">
        </div>
        <div class="newAnswer">
          <label>
            <span>#2</span>
            <input type="text" class="giveAnswer" placeholder="Type your answer here">
          </label>
          <input type="radio" name="is_correct">
        </div>
        <div class="newAnswer">
          <label>
            <span>#3</span>
            <input type="text" class="giveAnswer" placeholder="Type your answer here">
          </label>
          <input type="radio" name="is_correct">
        </div>
        <div class="newAnswer">
          <label>
            <span>#4</span>
            <input type="text" class="giveAnswer" placeholder="Type your answer here">
          </label>
          <input type="radio" name="is_correct">
        </div>
        <button class="sendQuestion">Send</button>
      </form>
    </div>
  </main>
  <script src="/static/js/manage.js"></script>
</body>

</html>