.container {
  display: flex;
  flex-direction: row-reverse;
  height: 200px;
}

.green {
  background-color: green;
  flex: 1 auto;
}

.yellow {
  background-color: yellow;
  flex: 2 auto;
}

.purple {
  background-color: purple;
  flex: 1 auto;
}