* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

#gif {
  width: 70%;
  height: 500px;
}

.gifimg {
  width: 80%;
  height: 80%;
}

footer {
  background-color: rgb(206, 184, 184);
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row;
  overflow: scroll; 
  align-items: center;
}

.thumbs {
  min-width: 70px;
  height: 70px;
  margin-right: 20px;
}