* {
  padding: 0;
  margin: 0;
}

body {
  background: turquoise;
}

main {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 600px;
  height: 600px;
  background: #fff;
}

.question {
  margin-bottom: 30px;
  width: 500px;
}

.answer {
  margin-bottom: 15px;
  background: rgb(70, 70, 233);
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.manageQue, .createNew {
  background: white;
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 10px;
}

.questionListed {
  margin-bottom: 10px;
  font-size: 20px;
  width: 80%;
}

button {
  width: 80px;
  height: 30px;
}

.questRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newAnswer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.giveAnswer {
  flex: 1;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}